{% extends 'base.html' %}

{% block content %}
    <button type="submit" class=" btn-sm btn btn-raised btn-outline-info waves-effect " ><a href="/">Home</a></button><br/>
    <button type="submit" class=" btn-sm btn btn-raised btn-outline-info waves-effect " ><a href="/login">Login</a></button>
    <h1>Register</h1><br/><br/>

    <form id="register-form" action="/registerUser/" method="post" >{% csrf_token %}
        <div class="form-group row">
            <label for="firstname" class="col-form-label col-sm-2">First Name</label>
            <input name="firstname" id="firstname" class="form-control col-sm-5" maxlength="90" datatype="text" placeholder="Enter your first name"/>
        </div>

        <div class="form-group row">
            <label for="lastname" class="col-form-label col-sm-2">Last Name</label>
            <input name="lastname" id="lastname" class="form-control col-sm-5" maxlength="90" datatype="text" placeholder="Enter your last name"/>
        </div>

        <div class="form-group row">
            <label for="username" class="col-form-label col-sm-2">Username</label>
            <input name="username" id="username" class="form-control col-sm-5" maxlength="90" datatype="text" placeholder="Username"/>
        </div>

        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Email Address</label>
            <input name="email" id="email" datatype="email" class="form-control col-sm-5" placeholder="Email address"/>
        </div>

        <div class="form-group row">
            <label for="password" class="col-form-label col-sm-2">Password</label>
            <input name="password" id="password" class="form-control col-sm-5" datatype="password" placeholder="Password"/>
        </div>

        <div class="form-group row">
            <label for="password_confirm" class="col-form-label col-sm-2">Confirm Password</label>
            <input name="password_confirm" id="password_confirm" class="form-control col-sm-5" datatype="password" placeholder="Enter password again"/>
        </div>
        <br/>
        <div class="form-group row ">
            <label class="col-sm-6"> </label>
            <button type="submit" class="  btn btn-raised btn-outline-info waves-effect col-sm-1">Sign Up</button>
        </div>

        <small class="text-muted">Already have an account? <a class="ml-2" href="/login"><mark>Login here</mark></a> </small>

    </form>


{% endblock %}