{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <a role="button" class=" btn-sm btn btn-raised btn-outline-info waves-effect " href="{% url 'index' %}">Home</a><br/>
    <a role="button" class=" btn-sm btn btn-raised btn-outline-info waves-effect " href="{% url 'login' %}">Login</a>

    <div class="container-fluid">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 pb-2 h2">Sign Up</legend>
                {{ form|crispy}}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="  btn btn-raised btn-outline-info waves-effect col-sm-1">Sign Up</button>
            </div>
            <small class="text-muted">Already have an account? <a class="ml-2 pb-4" href="{% url 'login' %}"><mark>Sign in</mark></a> </small>
        </form>
    </div>

{% endblock %}