{% extends 'base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="card shadow-sm rounded my-2">
            <div class="card-body row">
                <div class="col-1 mb-2">
                    <img src="{{ post.author.profile.image.url }}" loading="lazy" class="rounded-circle image-thumbnail post-author-image" alt="{{post.author.username}} profile jpg">
                </div>
                <div class="col-11">
                    <h8 class="text-monospace mx-2" ><a class="text-dark" href="#">@{{ post.author.username }}</a></h8>
                    <article class="row my-4 mx-2 flex flex-column">
                        <h6><a class="text-dark" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h6>
                        <p>{{ post.content }}</p>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" loading="lazy" class="img-fluid post-image" alt="{{post.title}} jpg">
                        {% endif %}
                        <small class="text-muted mt-2">{{ post.date }}</small>
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-raised btn-sm waves-effect btn-outline-dark my-4 mx-1" href="?page=1">First</a>
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}

                {% if num == page_obj.number %}
                    <a class="btn btn-raised btn-sm waves-effect btn-dark my-4 mx-1" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-raised btn-sm waves-effect btn-outline-dark my-4 mx-1" href="?page={{ num }}">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>

    {% endif %}

{% endblock %}
