{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


     <div class="container-fluid">
          <form method="POST">{% csrf_token %}
               <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-2 h2">Sign In</legend>
                    {{ form|crispy }}
               </fieldset>
               <div class="form-group">
                    <button class="btn btn-raised waves-effect btn-outline-dark col-sm-1 my-2" type="submit">Sign in</button>
               </div>
               <small class="text-muted">Don't have an account yet? <a class="ml-2 pb-4" href="{% url 'register' %}"><mark>Sign up</mark></a></small>
          </form>
     </div>

{% endblock %}
