{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

     <div class="card shadow-sm rounded my-4">
          <div class="card-body">
               <div class=" profile-content">
                    <img src="{{page_user.profile.image.url}}" loading="lazy" class="profile-avatar image-thumbnail rounded-circle" alt="{{page_user.username}} profile jpg">
                    <h4 class="font-monospace text-dark">{{ page_user.username }}</h4>
                    <p class="text-secondary">{{ page_user.profile.bio }}</p>                        
               </div>
          </div>
     </div>

     <div class="card shadow-sm rounded">
          <div class="card-body">
               <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">Posts</a>
                      <a class="nav-item nav-link" id="nav-favorites-tab" data-toggle="tab" href="#nav-favorites" role="tab" aria-controls="nav-favorite" aria-selected="false">Favorites</a>
                      {% if user == page_user %}
                         <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="false">Settings</a>
                      {% endif %}
                    </div>
               </nav>
               <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
                         {% for post in user_posts %}
                         <div class="card shadow-sm rounded my-2">
                              <div class="card-body row">
                                  <div class="col-1 mb-2">
                                      <img src="{{ post.author.profile.image.url }}" loading="lazy" class="rounded-circle image-thumbnail post-author-image" alt="{{post.author.username}} profile jpg">
                                  </div>
                                  <div class="col-11">
                                      <h8 class="font-monospace mx-4" ><a class="text-dark" href="{% url 'profile' %}?username={{ post.author.username }}&page=1">@{{ post.author.username }}</a></h8>
                                      <article class="row my-4 mx-2 flex flex-column">
                                          <h6><a class="text-dark" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h6>
                                          <p>{{ post.content }}</p>
                                          {% if post.image %}
                                          <img src="{{ post.image.url }}" loading="lazy" class="img-fluid post-image" alt="{{post.title}} jpg">
                                          {% endif %}
                                          <div class="text-muted favorite-icon">
                                              {% if post in user.favorite.posts.all %}
                                                  <a class="favorite-button liked" href="#" data-favorite-url="{% url 'fav-toggle' post.id %}">
                                                      <!-- liked icon -->
                                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                                                  </a>
                                              {% else %}
                                                  <a class="favorite-button" href="#" data-favorite-url="{% url 'fav-toggle' post.id %}">
                                                      <!-- unliked icon -->
                                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                                                  </a>
                                              {% endif %}
                                              <span>{{ post.number_of_favorites }} favorites</span>
                                          <div>
                                          <small class="text-muted mt-2">{{ post.date }}</small>
                                      </article>
                                  </div>
                              </div>
                          </div>
                         {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
                         {% for post in fav_posts %}
                         <div class="card shadow-sm rounded my-2">
                              <div class="card-body row">
                                  <div class="col-1 mb-2">
                                      <img src="{{ post.author.profile.image.url }}" loading="lazy" class="rounded-circle image-thumbnail post-author-image" alt="{{post.author.username}} profile jpg">
                                  </div>
                                  <div class="col-11">
                                      <h8 class="font-monospace mx-4" ><a class="text-dark" href="{% url 'profile' %}?username={{ post.author.username }}&page=1">@{{ post.author.username }}</a></h8>
                                      <article class="row my-4 mx-2 flex flex-column">
                                          <h6><a class="text-dark" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h6>
                                          <p>{{ post.content }}</p>
                                          {% if post.image %}
                                          <img src="{{ post.image.url }}" loading="lazy" class="img-fluid post-image" alt="{{post.title}} jpg">
                                          {% endif %}
                                          <div class="text-muted favorite-icon">
                                              {% if post in user.favorite.posts.all %}
                                                  <a class="favorite-button liked" href="#" data-favorite-url="{% url 'fav-toggle' post.id %}">
                                                      <!-- liked icon -->
                                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
                                                  </a>
                                              {% else %}
                                                  <a class="favorite-button" href="#" data-favorite-url="{% url 'fav-toggle' post.id %}">
                                                      <!-- unliked icon -->
                                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                                                  </a>
                                              {% endif %}
                                              <span>{{ post.number_of_favorites }} favorites</span>
                                          <div>
                                          <small class="text-muted mt-2">{{ post.date }}</small>
                                      </article>
                                  </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                        <form class="my-4" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4 pb-2">Profile Info</legend>
                                {{ user_update_form|crispy }}
                                {{ profile_update_form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button type="submit" class="btn btn-raised btn-outline-dark waves-effect col-sm-1 px-1 py-1 my-2">Update</button>
                            </div>
                        </form>
                    </div>
               </div>
          </div>
     </div>    
     
    <!-- page navigation buttons -->
    {% if is_paginated %}
        <div class="d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-raised btn-sm waves-effect btn-outline-dark my-4 mx-1" href="?page=1&username={{ page_user.username }}">First</a>
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.previous_page_number }}&username={{ page_user.username }}">Prev</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}

                {% if num == page_obj.number %}
                    <a class="btn btn-raised btn-sm waves-effect btn-dark my-4 mx-1" href="?page={{ num }}&username={{ page_user.username }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-raised btn-sm waves-effect btn-outline-dark my-4 mx-1" href="?page={{ num }}&username={{ page_user.username }}">{{ num }}</a>
                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.next_page_number }}&username={{ page_user.username }}">Next</a>
                <a class="btn btn-raised btn-sm  waves-effect btn-outline-dark my-4 mx-1" href="?page={{ page_obj.paginator.num_pages }}&username={{ page_user.username }}">Last</a>
            {% endif %}
        </div>

    {% endif %}


{% endblock %}